.h1 {
	font-weight: 500;
	font-size: 26px;
	line-height: 1.3;
	margin: 0;
}
.h2 {
	font-weight: 500;
	font-size: 22px;
	line-height: 1.3;
	margin: 0;
}
.h3 {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	margin: 0;
}
