@import '../../styles/vars';
.tag {
	display: inline-block;
	box-sizing: border-box;
	margin-right: 5px;
	border-radius: 20px;
	line-height: 1;
	font-weight: 600;
	a {
		text-decoration: none;
		color: inherit;
	}
}
.small {
	padding: 5px 10px;
	font-size: 12px;
}
.medium {
	padding: 5px 10px;
	font-size: 14px;
}
.ghost {
	border: 1px solid $grayLight;
}
.red {
	background-color: $red;
	color: $white;
}
.gray {
	background-color: #B3C0D9;
	color: $white;
}
.green {
	background-color: $green;
	color: $white;
}
.primary {
	background: none;
	border: 1px solid $primary;
	color: $primary;
}
